.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-banner .cc-btn:last-child{min-width:140px}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{-ms-flex:1;flex:1}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}


/* Import our theme variables. */
@import "presets/defaults.less";


div.ccm-page {


  /*===================================================================================*/
  /*	BUTTONS
  /*===================================================================================*/

  #buttons .btn {
    margin: 5px 3px;
  }
  #buttons .btn-wrapper {
    margin: 30px 0;
  }
  .btn {
    color: #FFF !important;
    background: #d4144a;
    padding: 11px 20px 13px;
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
  }
  .btn-small {
    padding: 5px 13px 6px;
    font-size: 13px;
  }
  .btn-large {
    padding: 14px 26px 16px;
    font-size: 15px;
  }

  .btn.kate{
    background: none;
    font-family: 'Bungee', cursive;
    box-shadow: none;
  }


  .btn.btn-green {
    background: #d4144a;
  }
  .btn.btn-blue {
    background: #3F8DBF;
  }
  .btn.btn-red {
    background: #FA6C65;
  }
  .btn.btn-pink {
    background: #D487BE;
  }
  .btn.btn-purple {
    background: #9B59B6;
  }
  .btn.btn-orange {
    background: #F27A24;
  }
  .btn.btn-navy {
    background: #34495E;
  }
  .btn.btn-gray {
    background: #95A5A6;
  }
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn.active {
    background: #453c8e;
    color: #FFF !important;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
  }
  .btn-green:hover,
  .btn-green:focus,
  .btn-green:active,
  .btn-green.active {
    background: #453c8e !important;
  }
  .btn-blue:hover,
  .btn-blue:focus,
  .btn-blue:active,
  .btn-blue.active {
    background: #387EAA !important;
  }
  .btn-red:hover,
  .btn-red:focus,
  .btn-red:active,
  .btn-red.active {
    background: #CF4C45 !important;
  }
  .btn-pink:hover,
  .btn-pink:focus,
  .btn-pink:active,
  .btn-pink.active {
    background: #BD78A9 !important;
  }
  .btn-purple:hover,
  .btn-purple:focus,
  .btn-purple:active,
  .btn-purple.active {
    background: #8A4FA2 !important;
  }
  .btn-orange:hover,
  .btn-orange:focus,
  .btn-orange:active,
  .btn-orange.active {
    background: #D96716 !important;
  }
  .btn-navy:hover,
  .btn-navy:focus,
  .btn-navy:active,
  .btn-navy.active {
    background: #2C3E50 !important;
  }
  .btn-gray:hover,
  .btn-gray:focus,
  .btn-gray:active,
  .btn-gray.active {
    background: #859394 !important;
  }
  .tint-bg .btn {
    background: #FFF !important;
    color: #d4144a !important;
  }
  .tint-bg .btn:hover {
    background: #E9E9E9 !important;
    color: #506A85 !important;
  }
  .btn.share-facebook {
    background: #3d5b9b !important
  }
  .btn.share-facebook:hover {
    background: #334c8e !important
  }
  .btn.share-twitter {
    background: #5aa8cd !important
  }
  .btn.share-twitter:hover {
    background: #499ac8 !important
  }
  .btn.share-googleplus {
    background: #3b3b3b !important
  }
  .btn.share-googleplus:hover {
    background: #2e2e2e !important
  }
  .btn.share-pinterest {
    background: #c53942 !important
  }
  .btn.share-pinterest:hover {
    background: #bc2d32 !important
  }
  .btn-share-lg,
  .btn-share-md,
  .btn-share-sm,
  .btn-share-xs {
    display: table;
    position: relative;
    z-index: 0;
    width: 100%;
    text-align: center;
  }
  .btn-share-lg i,
  .btn-share-md i,
  .btn-share-sm i,
  .btn-share-xs i {
    display: table-cell;
    vertical-align: middle;
  }
  .btn-share-lg {
    height: 250px;
  }
  .btn-share-lg i {
    font-size: 80px;
  }
  .btn-share-md {
    height: 180px;
  }
  .btn-share-md i {
    font-size: 60px;
  }
  .btn-share-sm {
    height: 120px;
  }
  .btn-share-sm i {
    font-size: 40px;
  }
  .btn-share-xs {
    height: 80px;
  }
  .btn-share-xs i {
    font-size: 28px;
  }
  .btn-share-lg i:after,
  .btn-share-md i:after,
  .btn-share-sm i:after,
  .btn-share-xs i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  /*.btn-share-lg:hover i:after,
  .btn-share-md:hover i:after,
  .btn-share-sm:hover i:after,
  .btn-share-xs:hover i:after {
      height: 100%;
  }*/
  .btn-share-lg:hover .icon-s-facebook:after,
  .btn-share-md:hover .icon-s-facebook:after,
  .btn-share-sm:hover .icon-s-facebook:after,
  .btn-share-xs:hover .icon-s-facebook:after {
    background: #3B5998;
    background: #4668B3;
  }
  .btn-share-lg:hover .icon-s-gplus:after,
  .btn-share-md:hover .icon-s-gplus:after,
  .btn-share-sm:hover .icon-s-gplus:after,
  .btn-share-xs:hover .icon-s-gplus:after {
    background: #DD4B39;
    background: #DE5745;
  }
  .btn-share-lg:hover .icon-s-twitter:after,
  .btn-share-md:hover .icon-s-twitter:after,
  .btn-share-sm:hover .icon-s-twitter:after,
  .btn-share-xs:hover .icon-s-twitter:after {
    background: #00ACED;
    background: #2FBBED;
  }
  .btn-share-lg p,
  .btn-share-md p,
  .btn-share-sm p,
  .btn-share-xs p {
    position: absolute;
    height: 1.1em;
    font-family: 'Lato', sans-serif;
    line-height: 100%;
    color: #FFF;
    margin: auto;
    opacity: 0;
  }
  .btn-share-lg p,
  .btn-share-md p {
    top: 20px;
  }
  .btn-share-sm p,
  .btn-share-xs p {
    top: 0;
    bottom: 0;
  }
  .btn-share-sm p {
    font-size: 16px;
  }
  .btn-share-xs p {
    font-size: 15px;
  }
  .btn-share-lg:hover p,
  .btn-share-md:hover p,
  .btn-share-sm:hover p,
  .btn-share-xs:hover p {
    opacity: 1;
  }
  .btn-share-lg .name,
  .btn-share-md .name,
  .btn-share-sm .name,
  .btn-share-xs .name {
    left: 25px;
  }
  .btn-share-lg .counter,
  .btn-share-md .counter,
  .btn-share-sm .counter,
  .btn-share-xs .counter {
    right: 25px;
  }
  .btn-share-lg:hover,
  .btn-share-md:hover,
  .btn-share-sm:hover,
  .btn-share-xs:hover {
    color: #FFF;
  }
  h1 .btn,
  h2 .btn,
  h3 .btn,
  h4 .btn,
  p .btn {
    margin-left: 15px;
  }
  .txt-btn {
    font-size: 105%;
    font-weight: 700;
  }
  .txt-btn:after {
    font-family: 'fontello';
    font-size: 75%;
    content: '\e846';
    margin-left: 7px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .txt-btn:hover:after {
    margin-left: 12px;
  }




  .col-md-6.meldung {
    .post {
      .post-content {
        padding-bottom: 30px;
      }
    }
  }
}

